@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --image-before-opacity: 0;
    --image-before-bg: transparent;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* .fade-up {
  filter: brightness(100%);
  animation: fadeIn 1s ease-in;
} */

@keyframes fadeIn {
  from {
    filter: brightness(0%);
  }
  to {
    filter: brightness(100%);
  }
}

.bg {
  background: radial-gradient(circle at 40% 40%, rgb(238, 15, 15) 25%, transparent 26%), radial-gradient(circle at 60% 60%, #ee0f0f80 25%, transparent 26%);
  background-size: 2em 2em;
  background-color: #da1c1a;
  opacity: 1;
}

.glow {
  border-radius: 50%; /* Make the element circular */
  /* background: radial-gradient(circle at center, white 10%, transparent 90%); Create a radial gradient with white color at the center */
  /* animation: pulse 2s infinite; Add a pulse animation for continuous glowing effect */
  transition: all 0.5s ease;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5) 10%, transparent 90%);
}

.glow::before {
  position: absolute;
  content: '';
  inset: 0; /* same as { top: 0; right: 0; bottom: 0; left: 0; } */
  background-image: var(--image-before-bg);
  z-index: 1;
  opacity: var(--image-before-opacity, 0);
  transition: opacity 0.5s linear;
}
